body {
  padding-top: 95px;
}

h4 {
  width: 100%;
}

h5 {
  line-height: 1.3;
}

.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.card-img-overlay {
  opacity: 0;
  transition: .5s ease;
  background-color: #17a2b8;
  color: #FFFFFF;
}

.card-text {
  text-align: justify;
}

.card-img-overlay:hover {
  opacity: 0.9;
}

.list-group {
  list-style: decimal inside;
}

svg {
  margin-bottom: 4px;
}

/*
 * Limited fields / areas
 */

.limited-multiline {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.limited-oneline {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fa-star {
  color: #FFCC00;
}

.full-width {
  width: 100%;
}

#moreInformation p {
  width: 100%;
  overflow-wrap: break-word;
}

.slider {
  overflow-y: hidden;
  display: -webkit-box;
  width: 100%;
}

.slider .card {
  width: 250px;
}

#creators {
  padding: 0;
  margin: 0;
}

#creators li {
  width: 33%;
  display: inline-block;
}
